<h2 mat-dialog-title>Schedule Operation</h2>
<div mat-dialog-content>
  <form [formGroup]="scheduleForm">
    <mat-form-field>
      <mat-label>Operation</mat-label>
      <mat-select formControlName="operation">
        <mat-option value="START">Start</mat-option>
        <mat-option value="STOP">Stop</mat-option>
        <mat-option value="DISCHARGE">Discharge</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Scheduled Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="scheduledDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Scheduled Time</mat-label>
      <input matInput type="time" formControlName="scheduledTime">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" (click)="onSubmit()">Schedule</button>
</div>
